<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scxh.android1502"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.scxh.android1502.ScxhApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.scxh.android1502.MainListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.scxh.android1502.WelcomeActivity" />
        <activity
            android:name="com.scxh.android1502.ui.LoginActivity"
            android:label="LoginActivity"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="com.scxh.android.intent.action.View" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.scxh.android1502.ui.LoginTwoActivity"
            android:label="LoginTwoActivity" />
        <activity
            android:name="com.scxh.android1502.ui.InfalterAcitivty"
            android:label="InfalterAcitivty" />
        <activity
            android:name="com.scxh.android1502.ui.layout.LinerLayoutAcitiy"
            android:label="LinerLayoutAcitiy" />
        <activity
            android:name="com.scxh.android1502.ui.layout.RelativeLayoutActivity"
            android:label="RelativeLayoutActivity" />
        <activity
            android:name="com.scxh.android1502.ui.layout.FrameLayoutActivity"
            android:label="FrameLayoutActivity" />
        <activity
            android:name="com.scxh.android1502.ui.layout.TalbleLayoutActivity"
            android:label="TalbleLayoutActivity" />
        <activity
            android:name="com.scxh.android1502.ui.layout.GridLayoutActivity"
            android:label="GridLayoutActivity" />
        <activity
            android:name="com.scxh.android1502.ui.layout.CodeLayoutAcitivity"
            android:label="CodeLayoutAcitivity" />
        <activity
            android:name="com.scxh.android1502.ui.component.TextViewActivity"
            android:label="TextViewActivity" />
        <activity
            android:name="com.scxh.android1502.ui.component.TextViewTwoAcitivity"
            android:label="TextViewTwoAcitivity" />
        <activity
            android:name="com.scxh.android1502.ui.component.EditTextActivity"
            android:label="EditTextActivity" />
        <activity
            android:name="com.scxh.android1502.ui.component.TextViewMainActivity"
            android:label="TextViewMainActivity" />
        <activity
            android:name="com.scxh.android1502.ui.component.ImageViewActivity"
            android:label="ImageViewActivity" />
        <activity
            android:name="com.scxh.android1502.ui.component.ImageViewTwoActivity"
            android:label="ImageViewTwoActivity" />
        <activity
            android:name="com.scxh.android1502.ui.component.RadioButtonActivity"
            android:label="RadioButtonActivity" />
        <activity
            android:name="com.scxh.android1502.activity.LifeActivity"
            android:label="LifeActivity" />
        <activity
            android:name="com.scxh.android1502.ui.unit.UtilActivity"
            android:label="UtilActivity" />
        <activity
            android:name="com.scxh.android1502.activity.TwoActivity"
            android:label="TwoActivity" />
        <activity
            android:name="com.scxh.android1502.activity.OneActivity"
            android:label="OneActivity" />
        <activity
            android:name="com.scxh.android1502.activity.StateActvity"
            android:label="StateActvity" />
        <activity
            android:name="com.scxh.android1502.activity.launchmode.FirstActivity"
            android:label="FirstActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.scxh.android1502.activity.launchmode.TwoActivity"
            android:label="TwoActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.scxh.android1502.activity.launchmode.ThreeActivity"
            android:label="ThreeActivity"
            android:launchMode="standard" />
        <activity
            android:name="com.scxh.android1502.activity.parameter.A"
            android:label="A"
            android:launchMode="singleTop" />
        <activity
            android:name="com.scxh.android1502.activity.parameter.B"
            android:label="B" >
        </activity>
        <activity
            android:name="com.scxh.android1502.activity.intent.OneActivity"
            android:label="Intent意图" />
        <activity
            android:name="com.scxh.android1502.activity.MyListActivity"
            android:label="MyListActivity" />
        <activity
            android:name="com.scxh.android1502.ui.listview.ArrayListsActivity"
            android:label="ArrayListsActivity" />
        <activity
            android:name="com.scxh.android1502.ui.listview.SimpleListActivity"
            android:label="SimpleListActivity" />
        <activity
            android:name="com.scxh.android1502.ui.listview.MyBaseActivity"
            android:label="MyBaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scxh.android1502.MainListActivity" />
        </activity>
        <activity
            android:name="com.scxh.android1502.ui.gridview.GridViewActivity"
            android:label="GridViewActivity" />
        <activity
            android:name="com.scxh.android1502.ui.spinners.SpinnersActivity"
            android:label="SpinnersActivity" />
        <activity
            android:name="com.scxh.android1502.ui.autocomplettext.AutoCompleteTextViewActivity"
            android:label="AutoCompleteTextViewActivity" />
        <activity
            android:name="com.scxh.android1502.ui.LoginListActivity"
            android:label="LoginListActivity" />
        <activity
            android:name="com.scxh.android1502.ui.progressbar_seekbar.ProgressBarActivity"
            android:label="ProgressBarActivity" />
        <activity
            android:name="com.scxh.android1502.ui.progressbar_seekbar.ProgressBarListViewActivity"
            android:label="ProgressBarListViewActivity" />
        <activity
            android:name="com.scxh.android1502.ui.progressbar_seekbar.SeekBarActivity"
            android:label="SeekBarActivity" />
        <activity
            android:name="com.scxh.android1502.ui.menu.MainMenuActivity"
            android:label="菜单" />
        <activity
            android:name="com.scxh.android1502.ui.popupwindow.PopupWindowActivity"
            android:label="弹窗控件" />
        <activity
            android:name="com.scxh.android1502.ui.dialog.DialogActivity"
            android:label="对话框" />
        <activity
            android:name="com.scxh.android1502.ui.viewpager.ViewPagerActivity"
            android:label="ViewPager" />
        <activity
            android:name="com.scxh.android1502.ui.tab.MyTabActivity"
            android:label="MyTabActivity" />
        <activity
            android:name="com.scxh.android1502.ui.tab.RadioTabActivity"
            android:label="RadioTabActivity" />
        <activity
            android:name="com.scxh.android1502.ui.png9.Png9Activity"
            android:label="Png9Activity" />
        <activity
            android:name="com.scxh.android1502.ui.shape.ShapeActivity"
            android:label="ShapeActivity" />
        <activity
            android:name="com.scxh.android1502.storage.db.DBSqliteActivity"
            android:label="DBSqliteActivity" />
        <activity
            android:name="com.scxh.android1502.storage.db.DBListActivityActivity"
            android:label="DBListActivity" />
        <activity
            android:name="com.scxh.android1502.storage.preference.SharePreferenceActivity"
            android:label="SharePreferenceActivity" />
        <activity
            android:name="com.scxh.android1502.storage.file.MyFileActivity"
            android:label="MyFileActivity" />
        <activity
            android:name="com.scxh.android1502.storage.file.browse.FileExplorerActivity"
            android:label="FileExplorer" 
            android:excludeFromRecents="true"/>
        <activity
            android:name="com.scxh.android1502.storage.provider.ContactcsProviderActivity"
            android:label="ContactcsProviderActivity" />
        <activity
            android:name="com.scxh.android1502.storage.provider.ScxhContentProviderActivity"
            android:label="ScxhContentProviderActivity" />
        <activity
            android:name="com.scxh.android1502.service.StartMyServiceActivity"
            android:label="StartMyServiceActivity" />
        <activity
            android:name="com.scxh.android1502.service.DownLoadActivity"
            android:label="DownLoadActivity" />
        <activity
            android:name="com.scxh.android1502.receiver.systemreceiver.MyReceiverActivity"
            android:label="MyReceiverActivity" />
        <activity
            android:name="com.scxh.android1502.notification.MyNotificationActivity"
            android:label="MyNotificationActivity" />
        <activity
            android:name="com.scxh.android1502.media.mp3.BaseMp3Activity"
            android:label="BaseMp3Activity" />
        <activity
            android:name="com.scxh.android1502.media.mp3.MusicPlayerActivity"
            android:label="MusicPlayerActivity" />

        <provider
            android:name="com.scxh.android1502.storage.provider.ScxhContentProvider"
            android:authorities="com.scxh.android1502.student" />
        <provider
            android:name="com.scxh.android1502.storage.provider.PreferenceContentProvider"
            android:authorities="com.scxh.android1502.provider" />

        <service android:name="com.scxh.android1502.service.MyService" >
        </service>
        <service android:name="com.scxh.android1502.service.DownLoadFileIntentService" >
        </service>
        <service
            android:name="com.scxh.android1502.service.location.NetworkStateService"
            android:enabled="true" />
        <service
            android:name="com.scxh.android1502.service.location.LocationService"
            android:enabled="true" />

        <receiver android:name="com.scxh.android1502.receiver.systemreceiver.SmsBroadCastReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="com.scxh.android1502.receiver_ACTION_SCXH" />
            </intent-filter>
        </receiver>
        <!--
        <receiver android:name="com.scxh.android1502.service.location.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
     
    </application>

</manifest>